/* GLOBAL STYLING */

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    text-decoration: none;
}

:root {
    --white: #fffff0;
    --nimbus: "Nimbus Sans L";
    --raleway: "Raleway" , "sans-serif";
    --side-margin: 9.64vw;
}

body {
    background-color: var(--white);
    min-height: 200vh;
    font-family: var(--raleway);
}

h1,
h2,
h3,
h4,
h5,
h6,
p {
    font-family: var(--raleway);
}

/* FONT STYLING */

h1 {
    font-family: var(--nimbus) !important;
    font-size: 4.7vw;
    font-weight: 100;
    letter-spacing: -0.23vw !important;
    line-height: 4.1vw;
}

h3 {
    font-size: max(18px, 0.938vw);
}

h4 {
    font-weight: 600;
    font-size: max(0.911vw, 17.5px);
}

h5 {
    font-size: max(1.432vw, 27.5px);


}

.dark {
    color: var(--white) !important;
}

/* HEADER SECTION */

.header-section {
    position: fixed;
    width: 100%;
    top: 0;
    z-index: 1000;
}

.header-container {
    padding-block: 2vw;
    margin-inline: var(--side-margin);
    display: flex;
    justify-content: space-between;
}

.header-menu-left {
    display: flex;
    column-gap: 30px;

    & h3 {
        color: black;
    }
}

.header-menu-left a:hover h3 {
    color: #727070;
}

.header-menu-right {
    display: flex;
    column-gap: 25px;
}

.header-menu-right .icon {
    color: black;
    font-size: 25px;
}

.header-menu-right a:hover .icon {
    color: #5c5c5c;
}



/* HOME SECTION */

.home-section {
    padding-bottom: 3.125vw;
    background: linear-gradient(180deg, rgba(255,255,240,1) 36%, rgba(238,238,226,1) 82%, rgba(204,204,197,1) 100%);

}

.home-container {
    margin-inline: var(--side-margin);
    padding-top: calc(7.417vw + 80px);
    display: flex;
}

.home-col-left {
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    row-gap: 10px;
    width: 33%;
    height: auto;
    padding-right: 250px;
    padding-bottom: 150px;

    & img {
        width: 100%;
        height: 20vw;
        box-shadow: 
        0 -5px 5px -5px rgba(0, 0, 0, 0.5) inset,
        0 5px 5px -5px rgba(0, 0, 0, 0.5) inset,
        -5px 0 5px -5px rgba(0, 0, 0, 0.5) inset,
        5px 0 5px -5px rgba(0, 0, 0, 0.5) inset;
        background: url(http://goo.gl/vyAs27) no-repeat scroll 0 0;
    }
}

.home-col-middle {
    width: 33%;
    position: relative;
    display: flex;
    flex-direction: column;

    & img {
        width: 100%;
        height: 40vw;
        border-radius: 2.5vw;
        box-shadow: 
        0 -5px 5px -5px rgba(0, 0, 0, 0.5) inset,
        0 5px 5px -5px rgba(0, 0, 0, 0.5) inset,
        -5px 0 5px -5px rgba(0, 0, 0, 0.5) inset,
        5px 0 5px -5px rgba(0, 0, 0, 0.5) inset;
        background: url(http://goo.gl/vyAs27) no-repeat scroll 0 0;
    }

    & .middle-text {
        position: absolute;
        top: -2.9vw;
        margin-inline: auto;
    }
}

.home-col-right {
    width: 33%;
    display: flex;
    justify-content: flex-end;
    align-items: center;
}

.col-right-content {
    display: flex;
    flex-direction: column;

}


/* CARD FLIPPING */
.flip-card-container {
    width: max(300px, 15.625vw);
    height: max(300px, 20.833vw);
    perspective: max(1000px, 52.083vw);
    cursor: pointer;
    margin-block: max(19.2px, 1vw);
}

.flip-card {
    position: relative;
    width: 100%;
    height: 100%;
    transition: transform 0.6s;
    transform-style: preserve-3d;
}

.flip-card-container {
    width: 300px;
    height: 400px;
    perspective: 1000px;
    cursor: pointer;
  }
  
  .flip-card {
    position: relative;
    width: 100%;
    height: 100%;
    transition: transform 0.6s;
    transform-style: preserve-3d;
  }
  
  .flip-card-front,
  .flip-card-back {
    position: absolute;
    width: 100%;
    height: 100%;
    backface-visibility: hidden;
    border-radius: 10px;
    box-shadow: 0 4px 8px rgba(0,0,0,0.1);
    overflow: hidden;
  }
  
  .flip-card-front {
    background-color: #f1f1f1;
  }
  
  .flip-card-back {
    background-color: #333;
    padding: 1vw;
    transform: rotateY(180deg);
    display: flex;
    flex-direction: column;

    & h2 {
        display: flex;
        justify-content: center;
        align-items: center;
    }

    & ol {
        flex-grow: 1;
        display: flex;
        flex-direction: column;
        justify-content: flex-start;
        margin: 0;
        padding-top: 1.5em;
        padding-left: 1.5em;

    }

    & li {
        margin-bottom: 0.8em;
    }

    & li:last-child {
        margin-bottom: 0;
    }
  }
  

  .flip-card-image {
    width: 100%;
    height: 100%;
    object-fit: cover;
  }


/* PROJECT SECTION */
#projects {
    width: auto;
    height: 100vh;
    background-color: #333;
}








@media only screen and (max-width: 768px) {
    .header-section {
        display: none;
    }

    .home-section {
        padding-top: 20px;
    }

    .home-container {
        flex-direction: column;
        row-gap: 40px;
    }

    .home-col-left,
    .home-col-right {
        width: 100%;
        padding-right: 0;
    }

    .home-col-right {
        justify-content: center;
    }
}